# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
*.log.*

# Directorios de entorno
.env

# Archivos de configuración de la base de datos
db.json

# Directorio de carga de archivos
public/uploads

# Sistemas operativos
.DS_Store
Thumbs.db

# Editor y sistema
.vscode/
.idea/
*.swp
